.ControlZone .ControlZone--clean .b_b_50a7110f .a_b_50a7110f {
  margin-top: 0;
}
.CanvasSection--read .ControlZone {
  margin-top: 0;
}

.valo-ql-container__quicklinks {
  background-color: rgba(90, 96, 96, 0.5);
}

.valo-ql-container__quicklinks:after {
  background-image: none;
}
.h_c_50a7110f .g_c_50a7110f {
  height: 287px;
}
